{% extends 'base.html' %}
{% load i18n %}


{%block content%}

  <form action="" method="post" class="">
    {% csrf_token %}
      <table id="" class="table table-striped table-bordered">
          <tr>
              <th>
                  {% trans "About" %}
              </th>
              <th>
                  {% trans "Time and Place" %}
              </th>
          </tr>
          <tr>
              <td>

      <div class="control-group" id="title">
          <label class="control-label" > <label for="id_title">{% trans "Title" %}</label> </label>
          {{ form.subject.title}}
          <div class="controls">
              {{ form.title }}
              <span class="label label-important">{{ form.title.errors }}</span>
          </div>
      </div>
      <div class="control-group" id="organiser">
          <label class="control-label" > <label for="id_organiser">{% trans "Organizer" %}</label> </label>
          {{ form.subject.organiser}}
          <div class="controls">
              {{ form.organiser }}
              <span class="label label-important">{{ form.organiser.errors }}</span>
          </div>
      </div>
      <div class="control-group" id="description">
          <label class="control-label" > <label for="id_description">{% trans "Description" %}</label> </label>
          {{ form.subject.description}}
          <div class="controls">
              {{ form.description }}
              <span class="label label-important">{{ form.description.errors }}</span>
          </div>
      </div>
              </td>
              <td>
      <div class="control-group" id="place">
          <label class="control-label" > <label for="id_place">{% trans "Place" %}</label> </label>
          {{ form.subject.place}}
          <div class="controls">
              {{ form.place }}
              <span class="label label-important">{{ form.place.errors }}</span>
          </div>
      </div>

      <div class="control-group" id="date_from">
          <label class="control-label" > <label for="id_date_from">{% trans "From (date)" %}</label> </label>
          {{ form.subject.date_from}}
          <div class="controls">
              {{ form.date_from }}
              <span class="label label-important">{{ form.date_from.errors }}</span>
          </div>
      </div>
      <div class="control-group" id="time_from">
          <label class="control-label" > <label for="id_time_from">{% trans "From (time)" %}</label> </label>
          {{ form.subject.time_from}}
          <div class="controls">
              {{ form.time_from }}
              <span class="label label-important">{{ form.time_from.errors }}</span>
          </div>
      </div>
          <div class="control-group" id="date_to">
              <label class="control-label" > <label for="id_date_to">{% trans "To (date)" %}</label> </label>
              {{ form.subject.date_to}}
              <div class="controls">
                  {{ form.date_to }}
                  <span class="label label-important">{{ form.date_to.errors }}</span>
              </div>
          </div>
          <div class="control-group" id="time_to">
              <label class="control-label" > <label for="id_time_to">{% trans "To (date)" %}</label> </label>
              {{ form.subject.time_to}}
              <div class="controls">
                  {{ form.time_to }}
                  <span class="label label-important">{{ form.time_to.errors }}</span>
              </div>
          </div>
         </td>
        </tr>
      </table>
      <input type="submit" class="btn" value="{% trans "Create event" %}">

  </form>

{%endblock%}