{% extends 'base.html' %}
{% load i18n %}


{%block content%}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand"><a href="{% url stream_events %}" > {% trans "Events" %} </a> / Create event  </div>
        </div>
    </div>
</div>


<form action="" id="eventform" method="post" enctype="multipart/form-data" class="">
    {% csrf_token %}
    <table id="eventtableform" class="table table-striped table-bordered">
        <tr>
            <th>
                {% trans "About" %}
            </th>
            <th>
                {% trans "Place,Time and Image" %}
            </th>
        </tr>
        <tr>
            <td>
                <div class="control-group" id="title">
                    <label for="id_title" class="control-label">{% trans "Title" %}</label>
                    <div class="controls">
                        {{ form.title }}
                        <span class="label label-important">{{ form.title.errors }}</span>
                    </div>
                </div>
                <div class="control-group" id="organiser">
                    <label for="id_organiser" class="control-label">{% trans "Organizer" %}</label>
                    <div class="controls">
                        {{ form.organiser }}
                        <span class="label label-important">{{ form.organiser.errors }}</span>
                    </div>
                </div>
                <div class="control-group" id="description">
                    <label for="id_description" class="control-label">{% trans "Description" %}</label>
                    <div class="controls">
                        {{ form.description }}
                        <span class="label label-important">{{ form.description.errors }}</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="control-group" id="place">
                    <label for="id_place" class="control-label">{% trans "Place" %}</label>
                    <div class="controls">
                        {{ form.place }}
                        <span class="label label-important">{{ form.place.errors }}</span>
                    </div>
                </div>
          
                <div class="control-group" id="date_from">
                    <label for="id_datetime_from" class="control-label">{% trans "From" %}</label>
                    <div class="controls">
                        {{ form.datetime_from }}
                        <span class="label label-important">{{ form.datetime_from.errors }}</span>
                    </div>
                </div>

                <div class="control-group" id="date_to">
                    <label for="id_timedate_to" class="control-label">{% trans "To" %}</label>
                    <div class="controls">
                        {{ form.datetime_to }}
                        <span class="label label-important">{{ form.datetime_to.errors }}</span>
                    </div>
                </div>

                <div class="control-group" id="id_image">
                    <label for="id_image" class="control-label">{% trans "Image" %}</label>
                    <div class="controls">
                        {{ form.image }}
                        <span class="label label-important">{{ form.image.errors }}</span>
                    </div>
                </div>



         </td>
        </tr>
      </table>
      <input type="submit" class="btn eventformsubmit" value="{% trans "Create event" %}">

  </form>


{%endblock%}