{% extends 'base.html' %}
{% load i18n %}


{%block content%}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand"><a href="{% url stream_events %}" > {% trans "Events" %} </a> / Create event  </div>
        </div>
    </div>
</div>

<form action="" id="eventform" method="post" enctype="multipart/form-data" class="">
    {% csrf_token %}
    <table id="eventtableform" class="table table-striped table-bordered">
        <tr>
            <th>{% trans "Title" %}</th>
            <td> {{ form.title }}
                <span class="label label-important">{{ form.title.errors }}</span>
            </td>
        </tr>
        <tr>
            <th>{% trans "Organizer" %}</th>
            <td>  {{ form.organiser }}
                <span class="label label-important">{{ form.organiser.errors }}</span>
            </td>
        </tr>
        <tr>
            <th>{% trans "Description" %}</th>
            <td>  {{ form.description }}
                <span class="label label-important">{{ form.description.errors }}</span>
            </td>
        </tr>
        <tr>
            <th>{% trans "Place" %}</th>
            <td>  {{ form.place }}
                <span class="label label-important">{{ form.place.errors }}</span>
            </td>
        </tr>
        <tr>
        <th>{% trans "From" %}</th>
            <td> {{ form.datetime_from }}
            <span class="label label-important">{{ form.datetime_from.errors }}</span>
            </td>
        </tr>
        <tr>

            <th>{% trans "To" %}</th>
            <td>{{ form.datetime_to }}
                <span class="label label-important">{{ form.datetime_to.errors }}</span>

            </td>
        </tr>
        <tr>
            <th>{% trans "Event Image" %}</th>
            <td>{{ form.image }}
                <span class="label label-important">{{ form.image.errors }}</span>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <input type="submit" class="btn btn-primary eventformsubmit" value="{% trans "Create event" %}">
            </th>
        </tr>
    </table>
  </form>


{%endblock%}