{% extends 'base.html' %}
{% load i18n %}
{%block content%}

    {% for e in object_list  %}
        <blockquote> <h4 style="display:inline"><a href="/event/detail/{{ e.pk }}">{{ e.title }}</a> </h4>
            <span class="small">  >> {{ e.date_from }},  {{ e.time_from }} >> {{ e.date_to }}, {{ e.time_to }}</span>
            <div> {% trans "Where" %}: {{ e.place }} </div>
            <div> {% trans "Who" %}: {{ e.organiser }} </div>
            <div> {% trans "Details" %}: {{ e.description }} </div>
        </blockquote>
    {% include "publication/comment.html" %}
    {% endfor %}
{%endblock%}
