{% extends 'base.html' %}
{% load i18n %}
{%block content%}
        <div class="story"> <h3 style="display:inline"><i class="icon-calendar"></i> {{ post.title }} <span class="small"> <i class="icon-map-marker"></i>  {{ post.place }} </span></h3>
            <div class="small">  <i class="icon-time"></i> {{ post.date_from }},  {{ post.time_from }} >> {{ post.date_to }}, {{ post.time_to }} <i class="icon-th"></i> <a href="{%url show_association post.organiser.slug%}">{{ post.organiser }}</a></div>
            <div class="eventdescription">{{post.description|safe|linebreaks}}</div>
    
            <ul class="commentfield">
                {%include 'publication/comment.html'%}
            </ul>

        </div>
{%endblock%}
