{% extends 'base.html' %}
{% load i18n %}
{% block extra_head %}
    
{% endblock %}
    {% block my_header %}
    
{% endblock %}

{%block content%}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">{% trans "Events" %} </a>
            <ul>
                <li class="pull-right">
                    <a href="{% url add_event %}" class="btn btn-primary"> {% trans "New event" %} <i class="icon-edit "></i> </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{%include 'publication/fullstream.html'%}
{%endblock%}
