{% extends 'base.html' %}
{% load i18n %}
{% block extra_head %}
    
{% endblock %}

{%block content%}
        <div class="nav">
            <ul class="lowernav">
                <li>
                     <h4> {% trans "All Posts" %} </h4>
                </li>
                <li>
                    <a href="{% url add_post %}" class="menu_word"> {% trans "New post" %} <i class="icon-EDIT "></i> </a>
                </li>
            </ul>
    <hr/>
    {%include 'publication/fullstream.html'%}
{%endblock%}
