{% extends 'base.html' %}
{% load i18n %}
{% block extra_head %}
    
{% endblock %}

{%block content%}
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">{% trans "All Posts" %} </a>

                <li class="pull-right">
                    <a href="{% url add_post %}" class="btn"> {% trans "New post" %} <i class="icon-edit "></i> </a>
                </li>
            </ul>
                </div>   </div>   </div>
    <hr/>
    {%include 'publication/fullstream.html'%}
{%endblock%}
