{% extends 'base.html' %}
{% load i18n %}
{% block extra_head %}
    <style>
        textarea {
            width: 475px;
            height: 30px;
            border: 1px solid #cccccc;
            padding: 5px;
            font-family: Tahoma, sans-serif;
        }
        
        #commentform textarea{
            width: 400px;
            height: 20px;
        }
        li{
            list-style-type: none;
        }
        
    </style>
    
{% endblock %}

{%block content%}
    {% for r in object_list|dictsortreversed:"date_created"  %}
    <div class="story">
                <h4>
                    {% if r.organiser %}
                    <i class="icon-calendar"></i> <a href="/event/detail/{{ r.pk }}"> {{ r.title }}</a> /
                    {% endif %}
                    {% if r.body %}
                        <img class="mugshot" src="{{ r.author.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" style="float: left;margin-right: 10px;height:20px; width: 20px;"/>
                        <a href="/post/detail/{{ r.pk }}"> {{ r.title }}</a><br/>
                    {% endif %}
                    <span class="small">
                    {% if r.author %} {{ r.date_created }}
                    {% trans "Posted by" %}:<strong><a href="{%url my_page r.author.user%}"> {{ r.author }} </a></strong>
                                    {%if r.association%}in <strong>{{r.association.association}}</strong>{%endif%}</span>
                    {% endif %}
                    {% if r.date_from %}
                        <i class="icon-time"></i>
                     {{ r.date_from }}
                    {% endif %}
                    {% if r.place %}
                    <i class="icon-map-marker"></i> {{ r.place }} /
                    {% endif %}
                      {% if r.organiser %}<span class="small"> <br/>
                        {% trans "By" %}: {{ r.organiser }}</span>
                    {% endif %}
                </h4>
        <div class="story">
                {% if r.body %}
                        <div style="margin-left: 10px;margin-bottom: 10px;"> {{ r.body|safe|truncatewords:10}} </div>
                {% endif %}
       </div>
        {% if r.body %}
        <ul>
            {%if r.comment_set.all %}
            {%for c in r.comment_set.all%}
               <li> <img class="mugshot" src="{{ c.author.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" style="float: left;margin-right: 10px;height:20px; width: 20px;"/>
                <em> {{c.author}} on</em><small> {{c.date_created}}</small>
               <p style="margin-left: 30px;margin-bottom: 10px;">{{c.body}}</p></li>
            {%endfor%}
            {%endif%}
        <form action="" id="commentform" method="post" >
            {% csrf_token %}
             <dd>
                <img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" style="float: left;margin-right: 10px;height:30px; width: 30px;"/>
            </dd>
            {{comment_form.body}}
            <input type="hidden" value="{{r.pk}}" name="post" />
            <input type="hidden" value="{{profile.pk}}" name="author"/>
            <dd><input type="submit" name="new_comment" value="Posta kommentar" /></dd>
            <span class="label label-important">{{ form.body.errors }}</span><br />
        </form>
        </ul>
        <hr/>

        {% endif %}
    </div>
{% endfor %}

{%endblock%}
