{% load i18n %}
{%load account_extras%}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>

    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- The styles -->
      <link href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" rel="stylesheet">
      <link href="{{ STATIC_URL }}css/timePicker.css" type="text/css"  rel="stylesheet">
      <link href="{{ STATIC_URL }}css/cc7.css" type="text/css" rel="stylesheet">
      <link href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" rel="stylesheet" />
      <link href="{{ STATIC_URL }}css/tipsy.css" type="text/css" rel="stylesheet" />

      <script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js" type="text/javascript" ></script>
      <script src="{{ STATIC_URL }}js/jquery-ui-1.9.2.min.js" type="text/javascript" ></script>
      <script src="{{ STATIC_URL }}js/jquery.autosize.js" type="text/javascript"></script>
      <script src="{{ STATIC_URL }}js/jquery.timePicker.js" type="text/javascript" ></script>
      <script src="{{ STATIC_URL }}js/jquery.validate.js" type="text/javascript"></script>
      <script src='{{ STATIC_URL}}js/jquery.tipsy.js' type="text/javascript"></script>
      <script src='{{ STATIC_URL}}js/jquery-ui-timepicker-addon.js' type="text/javascript"></script>

  

      <script>
          $(function() {
              $('textarea').autosize();

              $( "#id_date_from").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 2,
                minDate: 0,
                onClose: function( selectedDate ) {
                  $( "#id_date_to" ).datepicker( "option", "minDate", selectedDate );
                }
              });

              $( "#id_date_to").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 2,
                onClose: function( selectedDate ) {
                  $( "#id_date_from" ).datepicker( "option", "maxDate", selectedDate );
                }
              });

              //$("#id_date_from, #id_date_to").datepicker();
              $("#id_time_from, #id_time_to").timePicker();
              $('img[rel=tipsy]').tipsy({title: 'alt', gravity:$.fn.tipsy.autoNS});    

          });
      </script>

    <style>
      
    </style>
  
    {% block extra_head %}{% endblock %}
    
    <title> {% block title %} {% trans "c7 social forum" %} {% endblock %} </title>

  </head>
 <body data-spy="scroll" data-target=".bs-docs-sidebar">
{%block allcontent%}
    <!-- Navbar
================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">

        <div class="container">
            <a class="brand" href="/"><i class="icon-bullhorn icon-white"></i> c7 </a>
          <div class="nav-collapse collapse">
            <ul class="nav">

            {% if user.is_authenticated %}
                <li>
                    <a href="{% url stream_events %}"> {% trans "Events" %} <i class="icon-calendar icon-white"></i> </a>
                </li>
                <li>
                    <a href="{% url add_event %}" class="menuplus"><i class="icon-plus icon-white"></i> {% trans "Create" %} </a>
                </li>
                <li>
                    <a href="{% url stream_posts %}"> {% trans "Posts" %} <i class="icon-share icon-white"></i></a>
                </li>
                <li>
                    <a href="{% url add_post %}" class="menuplus"><i class="icon-plus icon-white"></i> {% trans "Add" %} </a>
                </li>
                <li>  
                  <a href="/messages/">{% trans "Messages" %} <i class="icon-envelope icon-white"></i></a> 
                </li>
                <li>
                    <a href="/post/message/" class="menuplus"><i class="icon-plus icon-white"></i> New</a>
                </li>
                <div class="nav ">
                    <li class="">
                        <a href="{% url my_page user.username %}"><i class="icon-user icon-white"></i> {{ user.username }}</a>
                    </li>
                    <li >

                        <a href="/accounts/signout/"><i class="icon-eject icon-white"> </i> {% trans "Log out" %}</a>
                    </li>
                </div>
                {% else %}
                <li class="">
                    <a href="/accounts/signin/">{% trans "Please" %} {% trans "sign in" %} </a>
                </li>
                <li class="">
                    <a href="/accounts/signup/">{% trans "Register" %} </a>
                </li>
                <li class="">
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--=========================================-->
 
     <div class="container main" class="span12">

      <div class="span8" style="min-height: 500px;background: #ffffff;margin: 0;">
      {% block content %} {% endblock %}
      </div>
     <div class="span3 rightsidebar" style="min-height: 500px;background: #fff;margin: 0;">

         {% block rightsidebar %}
             <div> &nbsp;</div>
             <a href="{%url list_associations%}">
                <h4 class="rightinline black">{% trans "All associations" %}</h4>
            </a>             
            {% list_associations %}
             <div> &nbsp;</div>
             <br/>
             <a href="{%url userena_profile_list%}">
                <h4 class="rightinline black">{% trans "Friends" %}</h4>
            </a>
            {% list_friends %}
             <div style="clear: both;margin-top: 10px;"> </div>

            {%block rightinline%}
            {% endblock %}
         {% endblock %}
     </div>
    </div>
{%endblock%}

<script src="{{ STATIC_URL }}js/c7.js"></script>

<a href="http://www.vamlingbolaget.com/" target="_blank">Vamlingbolaget</a>
 </body>
</html>
