{% extends 'mobile_base.html' %}
{% load i18n %}
{%block header%}
        
{%endblock%}
{%block content%}
    <header>
        <span class="left_nav"><a href="/mobile/"> <span class="thec"><i class="icon-bullhorn"></i>c7</span> </a></span>
        <span class="right_nav">
            <i class="icon-search"></i>
            <i class="icon-envelope icon-white"></i>
            <i class="icon-user icon-white"></i>
        </span>
    </header>
    <div class="lowerheader" >
        <h4>New post <span class="right_nav"> <button class="btn btn-danger" onclick="javascript:history.back(-1);">  <i class="icon-remove" ></i> Cancel </button> </span></h4>
    </div>
    <div class="story">
        <form action="" id="threadform" method="post" enctype="multipart/form-data" class="form-inline">
            {% csrf_token %}
            <label>{% trans "Title" %}</label><br/>
            {{form.title}} <br/><br/>
            <label>{% trans "Body" %}</label><br/>
            {{form.body}} <br/>
            {{form.body.errors}} <br/>
            <i class="icon-camera-retro icon-3x"></i> <input type="file" id="id_image" class="input_image" accept="image/*" name="image">
             <br/><br/>
            <input type="hidden" value="{{user.pk}}" name="author" id="id_author"/>
            <input type="hidden" value="1" name="is_public" id="id_is_public"/>
            <input class="btn btn-info btn-submit" type="submit" value="Post"/>
    
        </form>
    </div>
</div>

{%endblock%}