{% extends 'mobile_base.html' %}
{% load i18n %}
{%block content%}
<div class="new_mobile_post">
    <h4>New post <span class="right_nav"> <button class="btn btn-danger" onclick="javascript:history.back(-1);">  <i class="icon-remove" > Cancel</i>  </button> </span></h4>
    <hr/>
    <form action="" id="threadform" method="post" enctype="multipart/form-data" class="form-inline">
        {% csrf_token %}
        <label>Title</label><br/>
        {{form.title}} <br/><br/>
        <label>Body</label><br/>
        {{form.body}} <br/>
        {{form.body.errors}} <br/>


        <i class="icon-camera-retro icon-3x"></i> <input type="file" id="id_image" accept="image/*" name="image">
         <br/><br/>
        <input type="hidden" value="{{user.pk}}" name="author" id="id_author"/>
        <input type="hidden" value="1" name="is_public" id="id_is_public"/>
        <input class="btn" type="submit" value="Post"/>

    </form>
</div>

{%endblock%}