{% extends "mobile_base.html" %}
{% load i18n %}
{% block header %}
    <header>
        <span class="left_nav"><a href="/mobile/"> <span class="thec"><i class="icon-bullhorn"></i>c7</span> </a></span>
        <span class="right_nav">
            <i class="icon-search"></i>
            <i class="icon-envelope icon-white"></i>
            <i class="icon-user icon-white"></i>
            <a href="/accounts/signout/" class="menu_word"><i class="icon-eject "> </i> {% trans "Log out" %}</a>
        </span>
    </header>
    <div class="lowerheader">
        <h4>All posts </h4>
            <span class="right_nav">
            <a href="newpost" >
               <button class="btn btn-primary"> {% trans "New post " %} <i class="icon-edit"></i></button>
            </a>
           </span>
    <hr/>
    </div>

{%endblock%}

{% block content %}

<!-- template for list view -->
<script id="post_list_template" type="text/template">
    <div class="story">
        <div>
            <img class="mugshot" src="<%= mugshot %>" alt="Author"/>
            <strong><a href="/accounts/<%= author.user.username %>/"> <%= author.user.username %> </a></strong> 
            <br/><small> <%= date_created %> 
            <span class="right_nav"> [<%= id %>]</span></small>
        </div>
        <div class="postbody">
            <% if (title) { %>
                <% if (title != '>>'){ %>
                    <a href="#detail_id?<%= id %>" > <h4><%= title %></h4></a>                    
                <% } %> 
             <% } %>
        
            <p> <%= flowbody %> </p>
            
            <% if (image) { %>
                <img src="<%= image %>" >
            <% } %>
        </div>

        <div class="comment_detail">
            <div class="comment_count"> <a href="#detail_id?<%= id %>"><%= comment_count %> comments</a></div>           
            <span class="detail_btn right_nav"> <a href="#detail_id?<%= id %>"><button class="btn  btn-primary"> Details <i class="icon-double-angle-right"></i></button></a> </span>
        </div>
    </div>
    <div class="more_post" style="display:none;"></div>
</script>
<!-- template for minor list view -->
<script id="post_list_minor_template" type="text/template">
    <div class="story">
        <div>
            <strong><a href="/accounts/<%= author.user.username %>/"> <%= author.user.username %> </a></strong>
            <small> (<%= date_created %>)
            <span class="right_nav"> [<%= id %>]</span></small>
        </div>
        <div class="postbody">
            <% if (title) { %>
            <% if (title != '>>'){ %>
            <a href="#detail_id?<%= id %>" > <h5 class="minor"><%= title %></h5></a>
            <% } %>
            <% } %>
            <%= body %>
            <% if (image) { %>
            <a href="<%= image %>" >image link</a>
            <% } %>

            </div>

        <div class="comment_detail">
            <div class="comment_count"> <a href="#detail_id?<%= id %>"><%= comment_count %> comments</a></div>
            <span class="detail_btn right_nav"> <a href="#detail_id?<%= id %>"><button class="btn  btn-primary"> Details <i class="icon-double-angle-right"></i></button></a> </span>
        </div>
    </div>
</script>


<!-- template for postdetail view -->
<script id="single_post_template" type="text/template">
    <header>
        <span class="left_nav"><a href="/mobile/"> <span class="thec"><i class="icon-bullhorn"></i>c7</span> </a></span>

        <span class="right_nav">
            <i class="icon-search"></i>
            <i class="icon-envelope icon-white"></i>
            <i class="icon-user icon-white"></i>
        </span>

    </header>
    <div class="lowerheader">
        <h4>  <% if (title) { %>
            <%= title %>
        <% } else{%>
            View post
        <% } %>

        </h4>
        <span class="right_nav"> <a href="/mobile"><button class="btn btn-primary"><i class="icon-home"></i> Home </button> </a></span>
    </div>

    <div class="story" >
        <div>
            <img class="mugshot" src="<%= mugshot %>" alt="Author"/>
            <strong><a href="/accounts/<%= author.user.username %>/"> <%= author.user.username %> </a></strong> 
            <br/><small> <%= date_created %> 
            <span class="right_nav"> [<%= id %>]</span></small>
        </div>
        <div class="postbody">
            <% if (title) { %>
                <% if (title != '>>'){ %>
                    <a href="#detail_id?<%= id %>" > <h4><%= title %></h4></a>                    
                <% } %> 
             <% } %>
            
            <p><%= body %> </p>
            <% if (image) { %>
                <img src="<%= image %>" />
            <% } %>
        </div>

        <div class="all_comments">
            <h6><%= comment_count %> Comments</h6>
            <% _.each(comments, function(comment) { %>
                <div class="comment">
                    <img id="mugshot_detail" src="<%= comment.author_mugshot %>" alt="comment author" /> 
                    <small><a href="/accounts/<%= comment.author_name %>/"><%= comment.author_name %> </a> on <%= comment.comment_date %></small>
                    <p><%= comment.comment_body %></p>
                </div>
            <% }); %>
            <h6>Post a new Comment</h6>
            <form>
                <textarea id="commentbody"></textarea><br />
                <input type="submit" id="newcomment" class="btn btn-info newcomment" value="Comment"/>
            </form>
        </div>
    </div>
</script>


<!------not used but post.js looks for it---->
<script id="new_post_template" type="text/template">
    <div class="post_content">
        <h5>Share</h5>
        <div class="new_post">
            <form id="post_form" method="post" enctype="multipart/form-data"  >
                <label>A thought</label>
                <textarea id="new_post_body" class="mobile_form"></textarea><br />
                <div class="add_more">
                    <i class="icon-camera add_from_camera"></i>
                    <i class="icon-picture add_from_file"></i>
                    <span id="watchPositionBtn"><i class="icon-map-marker add_location"></i></span>
                    <button class="btn btn-primary" id="new_post">post</button>
                </div>

                <form >
                    <input  id="id_image" type="file" name="image" />
                    {% csrf_token %}
                    <input type="button" value="upload"
                           onClick="fileUpload(this.form,'/post/add/','upload'); return false;" >
                    <div id="upload"></div>
                
                <button id="submitImageForm">Submit</button>

                <div class="add_adress">
                    <label>Name this place</label>
                    <input id="place_name"   class="mobile_form" type="text">
                    <label>Address</label>
                    <input id="adress" class="mobile_form" type="text"><br />
                    <input id="latitude" class="mobile_form" type="hidden">
                    <input id="longitude" class="mobile_form" type="hidden">
                </div>
            </form>
            <div id="googleMap" style=" padding:1px; border:1px solid; height:400px; width:300px;"></div>
                <br>
        </div>
        <div id="map_canvas"> </div>

    </div>
</script>

{% endblock %}