{% extends "mobile_base.html" %}

{% block content %}


<script id="new_post_template" type="text/template">
    <div class="post_content">
        <h5>Share</h5>
        <div class="new_post">
            <form id="post_form" method="post" enctype="multipart/form-data"  >
                <label>A thought</label>
                <textarea id="new_post_body" class="mobile_form"></textarea><br />
                <div class="add_more">
                    <i class="icon-camera add_from_camera"></i>
                    <i class="icon-picture add_from_file"></i>
                    <span id="watchPositionBtn"><i class="icon-map-marker add_location"></i></span>
                    <button class="btn btn-primary" id="new_post">post</button>
                </div>

                <form >
                    <input  id="id_image" type="file" name="image" />
                    {% csrf_token %}
                    <input type="button" value="upload"
                           onClick="fileUpload(this.form,'/post/add/','upload'); return false;" >
                    <div id="upload"></div>
                
                <button id="submitImageForm">Submit</button>

                <div class="add_adress">
                    <label>Name this place</label>
                    <input id="place_name"   class="mobile_form" type="text">
                    <label>Address</label>
                    <input id="adress" class="mobile_form" type="text"><br />
                    <input id="latitude" class="mobile_form" type="hidden">
                    <input id="longitude" class="mobile_form" type="hidden">
                </div>
            </form>
            <div id="googleMap" style=" padding:1px; border:1px solid; height:400px; width:300px;"></div>
                <br>
        </div>
        <div id="map_canvas"> </div>

    </div>
</script>
<!-- template for list view -->
<script id="post_list_template" type="text/template">
    <div class="story">
        <h6>
            <img class="mugshot" src="<%= mugshot %>" alt="Author"/>
            <a href="#detail_id?<%= id %>" > <%= title %> <span class="right_nav"> [<%= id %>]</span></a>
                    <span class="small">

                    </span>
        </h6>
        <div class="postbody">
            <%= body %><br/>
            <% if (typeof(image) != "undefined") { %>
            <img src="<%= image %>" style="">
            <% } %>


        </div>

        <div class="date_comment">
            <span class="left_date"> Posted at: <%= date_created %></span>
            <span class="right_nav"> <a href="#detail_id?<%= id %>">(<%= comment_count %>)</a><i class="icon-comment-alt icon-2x"></i></span>
        </div>
        <div class="hr_narrow"></div>
        <div class="date_comment">
            <span class="left_date"> Posted by:<strong><a href="/accounts/<%= author.user.username %>/"> <%= author.user.username %> </a></strong></span>
            <span class="right_nav_details"> <a href="#detail_id?<%= id %>">Details ></a></span>
        </div>
    </div>
    <span class="btn more_post" style="display:none;"></span>

</script>
<!-- template for list view -->
<script id="single_post_template" type="text/template">
    <div class="story_detail">

        <img class="mugshot"  src="<%= mugshot %>" alt="Author"/>
        <h6><%= title %> </h6>
        <div class="postbody">
            - <%= body %>
        </div>
        <div class="date_comment">
            <span class="left_date"> Posted by:<a href="/accounts/<%= author.user.username %>/"> <%= author.user.username %> </a></span>
            <span class="right_nav"> Posted at: <%= date_created %></span>
        </div>

        <div class="comment_body">
            <h6><%= comment_count %> Comments</h6>
            <% _.each(comments, function(comment) { %>
            <div>
                <div class>
                    <span class="small"><a href="/accounts/<%= comment.author_name %>/"><%= comment.author_name %> </a> </span> <span class="right_date" ><%= comment.comment_date %></span>
                    <br/>
                </div>
                <div class="comment_text">
                    <span> <img id="mugshot_detail" src="<%= comment.author_mugshot %>" alt="Author"/> - <%= comment.comment_body %> </span>
                </div>f
            </div>
            <% }); %>
            <h6>Post a new Comment</h6>
            <form>
                <textarea id="commentbody"></textarea><br />
                <button class="newcomment">comment</button>
            </form>
        </div>
    </div>
</script>

{% endblock %}