{% load i18n %}

<form action="" id="commentform" method="post" >
    {% csrf_token %}
     
        <img class="mugshot_small" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}"/>
    
    {{comment_form.body}}
    <input type="hidden" value="{{post.pk}}" name="post" />
    <input type="hidden" value="{{profile.pk}}" name="author"/>
    <dd><input type="submit" name="new_comment" value="Post comment" /></dd>
    <span class="label label-important">{{ form.body.errors }}</span><br />
</form>
