{% extends 'base.html' %}
{% load i18n %}
{% block extra_head %}
<script>
    $(function() {
        var availableTags = [
            {% for u in alluser %}
            "{{ u.user }}"{%if forloop.last%}{%else%},{%endif%}{% endfor%}
        ];
        $(".tags").autocomplete({
            source: availableTags
        });

        jQuery.validator.addMethod("tags", function(value) {
            var in_array = $.inArray(value, availableTags);
            if (in_array == -1) {
                return false;
            }else{
                return true;
            }
        }, " Not a recipient");

        $("#messageform").validate();

    });

</script>
{% endblock %}
{%block content%}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand"> {% trans "New message" %}</div>
        </div>
    </div>
</div>
<table id="" class="table table-striped table-bordered">
    <form action="" id="messageform" method="post" class="form-inline">
        {% csrf_token %}
    <tbody>
    <tr>
        <th>{% trans "To" %}</th>
        <td><input name="name" type="text" id="to" class="tags"  />
            <input name="to" type="hidden" id="id_to" value="1" />
            <span class="label label-important">{{ form.to.errors }}</span>
        </td>
    </tr>
    <tr>
        <th>{% trans "Title" %}</th>
        <td>
            <div class="controls">
                <input type="text" maxlength="50" name="title" id="id_title">
                <span class="label label-important">{{ form.title.errors }}</span>
            </div>
        </td>
    </tr>
    <tr>
        <th>{% trans "Message" %}</th>
        <td> <div class="control-group" id="body">
            <div class="controls">
                <textarea name="body" cols="400" rows="3" id="id_body"></textarea>
                <span class="label label-important">{{ form.body.errors }}</span>
                <input type="hidden" value="{{user.pk}}" name="author" id="id_author"/>
                <input type="hidden" value="0" name="is_public" id="id_is_public"/>
                <input type="hidden" value="0" name="thread" id="id_thread"/>
            </div>
        </div>
        </td>
    </tr>
    <tr>
        <th><span class="small">{% trans "Send message" %}</span></th>
        <td>
            <input class="btn" type="submit" value="{% trans "Send message" %}"/>
        </td>
    </tr>
    </tbody>


    </form>

 </table>
{%endblock%}