{% extends 'base.html' %}
{% load i18n %}
{%block content%}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand"><a href="{% url list_lists %}" > {% trans "Edit comment" %} </a> </div>
        </div>
    </div>
</div>

<table id="" class="table table-striped table-bordered">
    <form action="" id="threadform" method="post" class="form-inline">
        {% csrf_token %}
        <tbody>
        <tr>
            <th>{% trans "Comment" %}</th>
            <td>
                {{ form.body }}
            </td>
                {{ field.body.errors }}
            </td>
        </tr>
        <tr>
            <th>{% trans "Save" %}</th>
            <td>
                <input type="hidden" value="{{user.pk}}" name="author" id="id_author"/>
                <input type="hidden" value="1" name="is_public" id="id_is_public"/>
                <input class="btn" type="submit" value="Save"/>
            </td>
        </tr>
    </form>
</table>
{%endblock%}