{% load i18n %}

{% for post in object_list|dictsortreversed:"date_created"  %}
    <div class="story" >
        {% if post.description %}
            <h4>
                <div class="event">
                    <i class="icon-calendar"></i> <a href="/event/detail/{{ post.pk }}"> {{ post.title }}</a> /
                    <i class="icon-time"></i> {{ post.date_from }}
                    <i class="icon-map-marker"></i> {{ post.place }} /
                    <br/>
                    <span class="small">
                        {% trans "By" %}: <a href="{%url show_association post.organiser.slug%}">{{ post.organiser }}</a>
                    </span>
                    <p class="eventdescription">
                        <em>"{{ post.description|safe|truncatewords:10}}"</em>
                    </p>
                </div>
                <hr/>
            </h4>
        {% endif %}
        {% if post.body %}
            <h4>
                <img class="mugshot" src="{{ post.author.get_mugshot_url }}" alt="{% trans "Your mugshot" %}"/>
                <a href="/post/detail/{{ post.pk }}"> {{ post.title }}</a><br/>
                <span class="small">
                {% if post.author %} {{ post.date_created }}
                    {% trans "Posted by" %}:<strong><a href="{%url my_page post.author.user%}"> {{ post.author }} </a></strong>
                    {%if post.association%}in <strong><a href="{%url show_association post.association.slug%}">{{post.association.association}}</a></strong>{%endif%}
                {% endif %}
                </span>
                
            </h4>
    
            <div class="postbody"> {{ post.body|linebreaks|truncatewords:60}} </div>
            <ul class="commentfield">
                {% include "publication/comment.html" %}
            </ul>
        <hr/>
    {% endif %}
    </div>
{% endfor %}
