{% extends 'base.html' %}
{% load i18n %}
{%block content%}
    <ul>
    <h3>{{message.title}}</h3>

    {%for message in message_list|dictsortreversed:"date_created"%}
        <li>
            {%if message.to.user == profile.user%}
                <img class="mugshot" src="{{ message.author.get_mugshot_url }}" alt="{% trans "Sender" %}" />
                <small>{{message.date_created}} </small>
                <h4 style="margin-top: 0"><a href="{%url my_page message.author.user%}">{{message.author.user}}</a> </h4>
                <div class="messagebody">{{message.body|linebreaks}}</div>                
            {%elif message.author.user == profile.user%}
                <img class="mugshot" src="{{ message.to.get_mugshot_url }}" alt="{% trans "Sender" %}" />
                <h4><a href="{%url show_message_thread message.pk%}">{{message.title}}</a> <br/>

                {% trans "Message to " %} {{message.to}} from me {{message.date_created}}</h4>
                
            {%endif%}
                
        </li>
    {%endfor%}
    </ul>    
        <img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Sender" %}" />
        <form action="" id="message_form" method="post" class="form-horizontal block-form">
            {% csrf_token %}
            <div class="messagebody"> {{ message_form.body }} </div>
            <input type="hidden" value="{{message.thread}}" name="thread" />

            <input type="hidden" value="{{profile.pk}}" name="author" />

            <input type="hidden" value="{{message.to.pk }}" name="to" />
            <input type="hidden" value="{{message.title }}" name="title" />

            <input type="submit" id="new_post" class="btn" value="reply" />

        </form>
    </ul>


{%endblock%}