{% extends 'base.html' %}
{% load i18n %}
{%block content%}
    <h4>Your Messages</h4>
    <hr/>
    <ul class="nav-list">
{%comment%}
        {%regroup message_list|dictsortreversed:'date_created' by thread as messagelist %}
        {%for m in messagelist%}
            {%for message in m.list%}
            {% ifchanged message.thread%}
{%endcomment%}

        {%if m_list %}
            
            {%for message in m_list|dictsortreversed:"date_created"%}
                    <li>
                        <img class="mugshot" src="{{ message.author.get_mugshot_url }}" alt="{% trans "Sender" %}" />
                        <h4 style="margin-bottom: 0;"><a href="{%url show_message_thread message.thread%}">{{message.title}}</a></h4>
                        <small>{% trans "Message from " %} {{message.author}} {%trans "to"%} {{message.to}} {{message.date_created}}</small>                            
                            
                    </li>

            {%endfor%}
    
        {%else%}
            {% trans "You have no messages." %} <a href="/post/message/">{% trans "Send a message." %}</a>
        {%endif%}

    </ul>
{%endblock%}