{% extends 'userena/profile_detail.html' %}
{% load i18n %}
{% block extra_head %}
{% block title %}{% blocktrans with pageprofile.association as association %}{{ association }}'s profile.{% endblocktrans %}
{% endblock %}{% endblock %}
        {% block profile_details %}
            <img class="mugshot_large" src="{{ pageprofile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
            {% if pageprofile.association %}
              <p class="lead">{{ pageprofile.association }}</p>
            {% endif %}
            {% if pageprofile.description %}
              <p><em>"{{ pageprofile.description }}"</em></p>
            {% endif %}
      {% endblock %}
{%block posts%}
    <p>&nbsp;</p>


    {%if can_edit %}
        <form action="" id="post_form" method="post" class="form-horizontal block-form">
            {% csrf_token %}
            {{ post_form.body }}
            <input type="hidden" value="{{profile.pk}}" name="author"/>
            <input type="hidden" value="{{pageprofile.pk}}" name="association"/>
            <input type="hidden" value="1" name="is_public"/>
            <span class="label label-important">{{ form.body.errors }}</span><br />
            <div class="titlefield"> Title: {{ post_form.title }} </div>
            <input type="submit" id="new_post" class="btn" value="New post" /> <a href="" class="addtitle">Add title</a>
        </form>
        <p><a href="{% url leave_association pageprofile.slug %}">Lämna grupp</a></p>
    {% else %}
        <p><a href="{% url join_association pageprofile.slug %}">Gå med i grupp</a></p>
    {%endif%}

    {%include 'publication/fullstream.html'%}

{%endblock%}