{% extends 'userena/profile_detail.html' %}
{% load i18n %}
{% load thumbnail %}

{% block extra_head %}
    <style>
        textarea {
            width: 475px;
            height: 30px;
            border: 1px solid #cccccc;
            padding: 5px;
            font-family: Tahoma, sans-serif;
        }
        
        #commentform textarea{
            width: 400px;
            height: 20px;
        }
        input[type=text]{
            width: 436px;
        }
        
        submit{
            float: left;
        }
        

    </style>
{% endblock %}
{%block posts%}
    <br/>
    {%if pageprofile == profile %}
            <form action="" enctype="multipart/form-data" id="post_form" method="post" class="form-horizontal block-form">
                {% csrf_token %}
                {{ post_form.body }} <br />
                {{ post_form.image }}
                <span class="label label-important">{{ form.body.errors }}</span><br />
                <input type="hidden" value="{{post.pk}}" name="post" />
                <input type="hidden" value="{{profile.pk}}" name="author" />
                <div class="titlefield"> Title: {{ post_form.title }} </div>
                <input type="submit" id="new_post" class="btn" value="New post" />
                <a href="#" class="addtitle">Add title</a>

            </form>
<br>
<br>
<br>
    {%endif%}

    {%for post in object_list %}
        <h4>
           <img class="mugshot" src="{{ post.author.get_mugshot_url }}" alt="{% trans "Author mugshot" %}"/>
           <a href="/post/detail/{{ post.pk }}"> {{ post.title }}</a><br/>
           <span class="small">
           {% if post.author %}
               {{ post.date_created }}
               {% trans "Posted by" %}:<strong><a href="{%url my_page post.author.user%}"> {{ post.author }} </a></strong>
               {%if post.association%}
                   in <strong><a href="{%url show_association post.association.slug%}">{{post.association.association}}</a></strong>
               {%endif%}
           {% endif %}
           </span>
       </h4>    
        <div class="postbody"> {{ post.body|linebreaks}} 
            {% if post.image %}
                {% thumbnail post.image "420x300" crop="center" as im %}
                <img src="{{ im.url }}" />
            {% endif %}
        </div>
        <ul class="commentfield">
            {%include 'publication/comment.html'%}
        </ul>
    {%endfor%}    
{%endblock%}