{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}


        {%if pageprofile.user.username%}

        {% blocktrans with pageprofile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}
    {%elif pageprofile.association%}
        {% blocktrans with pageprofile.association as association %}{{ association }}'s profile.{% endblocktrans %}
    {%endif%}

{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
  <div class="white-box">
    <div id="details">
      {% block profile_details %}
          <img class="mugshot_large" src="{{ pageprofile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
          {% block profile_definition_list %}
            {% if pageprofile.user.get_full_name %}
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <h3>  {{ pageprofile.user.get_full_name }} </h3>
                        {%elif pageprofile == profile%}
                        <p class="lead">Welcome to c7, {{profile.user.username}}!</p>
                        {%else%}
                        <p class="lead">Welcome to {{pageprofile.user.username}}s personal page!</p>
                        {% endif %}

                        {% if pageprofile.description %}
                        <p><em>"{{ pageprofile.description|safe }}"</em></p>
                        {%elif pageprofile == profile%}
                        <p><em>"This is your personal page, please <a href='{% url userena_profile_edit user.username %}'>{% trans "edit your profile" %}</a>"</em></p>
                        {%else%}
                        <p><em>&nbsp;</em></p>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if profile.has_new_messages %}
              <dt>{% trans "You have new messages" %}</dt>
              <dd>{{ profile.message_set.all }}</dd>
            {% endif %}
            {% if profile.has_new_comments %}
              <dt>{% trans "You have new comments" %}</dt>
              <dd>{{ profile.comment_set.all }}</dd>
            {% endif %}
          {% endblock %}
      {% endblock %}

      {%block posts%}

      {% endblock %}
    </div>
  </div>
{% endblock %}

{%block rightinline%}
    {%if pageprofile == profile %}
        {% if profile.association.all %}
            <br/>
            <h4 class="rightinline">My associations</h4>
            {%for a in profile.association.all %}
                <img class="mugshot" src="{{ a.get_mugshot_url }}" alt="{{a.association}}"/>
                <a href="{%url show_association a.slug %}"> {{ a.association }} </a>
                <div style="clear: both;"></div>
            {%endfor%}
        {% endif %}
        <br/>        
        {% if profile.user.email and not hide_email %}
            <h4 class="rightinline">Email</h4>
              
            {{ profile.user.email }}
              
        {% endif %}
        <br/><br/>
        {% block profile_navigation %}
          {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
            <h4 class="rightinline">Account settings</h4>
              <div class="editform">
                {% block profile_navigation_items %}
                  <a href='{% url userena_profile_edit user.username %}'>{% trans "Edit details" %}</a><br/>
                  <a href='{% url userena_password_change user.username %}'>{% trans "Change password" %}</a><br/>
                  <a href='{% url userena_email_change user.username %}'></i>{% trans "Change email" %}</a>
                {% endblock %}
              </div>      
        {% endblock %}
    {%elif is_association%}
         <h4 class="rightinline">Members</h4></li>
            {%for member in pageprofile.myprofile_set.all %}
                <a href="{%url my_page member %}">
                    <img class="mugshot" src="{{ member.get_mugshot_url }}" alt="{{member}}"/>{{ member }}
                </a>
                <div style="clear: both;"></div>
            {%endfor%}
    {%else%}
        {% if pageprofile.association.all %}
            <h4 class="rightinline">{{pageprofile}}s associations</h4>
                {%for a in pageprofile.association.all %}
                    <img class="mugshot" src="{{ a.get_mugshot_url }}" alt="{{a.association}}"/>
                    <a href="{%url show_association a.slug %}"> {{ a.association }} </a>
                    <div style="clear: both;"></div>
                {%endfor%}
        {% endif %}
        <br/>
        {% if pageprofile.user.email and not hide_email %}
            <h4 class="rightinline">Email</h4>
                {{ pageprofile.user.email }}
        {% endif %}
    {% endif %}
{% endblock %}
