{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block content %}
  <div class="white-box">
    <div id="details">
      {% block profile_details %}
          <img class="mugshot" src="{{ pageprofile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" style="float: left;margin-right: 10px;"/>
          {% block profile_definition_list %}
            {% if pageprofile.user.get_full_name %}
              <p class="lead">{{ pageprofile.user.get_full_name }}</p>
            {% endif %}
            {% if pageprofile.description %}
              <p><em>"{{ pageprofile.description }}"</em></p>
            {% endif %}

            {% if profile.has_new_messages %}
              <dt>{% trans "You have new messages" %}</dt>
              <dd>{{ profile.message_set.all }}</dd>
            {% endif %}
            {% if profile.has_new_comments %}
              <dt>{% trans "You have new comments" %}</dt>
              <dd>{{ profile.comment_set.all }}</dd>
            {% endif %}
          {% endblock %}
      {% endblock %}

      {%block posts%}

      {% endblock %}
    </div>
  </div>
{% endblock %}

