{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}
{% block extra_head %}
      <style>
        body{
          background: url('{{STATIC_URL}}img/gray_jean.png');
        }

        #huge_text{
          font-family: Roboto-Light;
          font-size: 200px;
          color: #DDD;
          text-shadow: 0 1px 0 white;
          margin-bottom: 60px;
        }
        
        #login{
          width: 450px;
          margin-left: auto;
          margin-right: auto;
        }
        .formback{
          background: #fff;
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
          border: solid 1px #ccc;
          border-radius: 5px;
          z-index: 100;
        }

        .forgot-password{
          text-align: center;
        }
      </style>
{% endblock %}

{% block allcontent %}
<div id="login" class="">
  <form action="" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>{% trans "Signup" %}</legend>
    <div class="formback">
      {{ form.non_field_errors }}
      {% for field in form %}
      {{ field.errors }}
      {% comment %} Displaying checkboxes differently {% endcomment %}
      {% if field.name == 'tos' %}
      <p class="checkbox">
      <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
      </p>
      {% else %}
      <p>
      {{ field.label_tag }} 
      {{ field }}
      </p>
      {% endif %}
      {% endfor %}
    </fieldset>
    <input type="submit" value="{% trans "Signup"%}" />
  </form>
</div>
</div>
{% endblock %}
