{% extends 'base.html' %}
{% load i18n %}
{%block content%}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand"><a href="{% url list_lists %}" class="menu_word"> {% trans "Lists" %} </a> /
                {{ list.title }}
            <span class="hidden the_list_id" id="{{ list.id }}">{{ list.id }}</span>
            </div>
            <div class="pull-right">
                {% if restricted %}
                    <label class="label label-info">
                        This list is private
                        {% if your_list %}
                            and it is my list
                        {% endif%}
                    </label>
                {% else%}
                <label class="label label-info">
                    This list is open
                    {% if your_list %}
                        and i initiated it.
                    {% endif%}
                </label>
                {% endif%}
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered" id="list_table">
    <tbody>
        <tr>
            <th width="206px">Item</th>
            <th>Info</th>
            {% if restricted %}
               {% if your_list %}
            <th>Edit</th>
            <th>-</th>
            {% endif%}
                {% else %}
            {% endif%}

        </tr>
    {% for item in list_items  %}
        {% if forloop.last  %}
        <tr id="last">
        {% else  %}
        <tr>
        {% endif  %}
            <td class="item_title" width="206px">{{ item.title }}</td>
            <td class="item_description"><span class="small" >{{ item.description }}</span></td>
            {% if restricted %}
                {% if your_list %}
            <td>
                <button class="edit" id="{{ item.id }}">
                    <i class="icon-edit"></i>
                </button>
            </td>
            <td>
                <button class="remove" id="{{ item.id }}">
                    <i class="icon-minus-sign"></i>
                </button>
            </td>
            {% endif%}
            {% else %}
            {% endif%}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% if restricted %}
     {% if your_list %}
    <table  class="table table-striped table-bordered">
        <tbody>

        <form action="" method="post" >
            {% csrf_token %}
                <tr >
                    <td width="80px"><input id="id_title" type="text" maxlength="120" name="title" placeholder="item"></td>
                    <td><textarea id="id_description" name="description"  placeholder="info"></textarea></td>
                </tr>
                <tr>
                    <td><span class="small">Feel free to add items.</span> </td>
                    <td>
                    <input type="hidden" id="id_item_list" value="{{ list.pk }}" name="item_list">
                    <input type="hidden" id="id_order" value="1" name="order">
                    <input type="submit" id="add_to_list" class="btn btn-primary pull_right" value="{% trans "Add item to list" %}">
                    </td>
                </tr>
        </form>
        </tbody>
    </table>
    - This is your list
    {% endif%}
{% else %}
    <table  class="table table-striped table-bordered">
        <tbody>

        <form action="" method="post" >
            {% csrf_token %}
            <tr >
                <td width="80px"><input id="id_title" type="text" maxlength="120" name="title" placeholder="item"></td>
                <td><textarea id="id_description" name="description"  placeholder="info"></textarea></td>
            </tr>
            <tr>
                <td><span class="small">Feel free to add items.</span> </td>
                <td>
                    <input type="hidden" id="id_item_list" value="{{ list.pk }}" name="item_list">
                    <input type="hidden" id="id_order" value="1" name="order">
                    <input type="submit" id="add_to_list" class="btn btn-primary pull_right" value="{% trans "Add item to list" %}">
                </td>
            </tr>
        </form>
        </tbody>
    </table>
{% endif%}
{% csrf_token %}

<script src="{{ STATIC_URL }}js/csrf.js"></script>
<script src="{{ STATIC_URL }}js/list.js"></script>
{%endblock%}
