{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}
{%block content%}
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand"><a href="{% url list_lists %}" class="menu_word"> {% trans "Lists" %} </a>
            </div>
            <div class="pull-right">
                <a href="{% url create_list %}" class="btn btn-primary"> {% trans "New list" %} <i class="icon-edit "></i> </a>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered">
    <tbody>
    <tr>
        <th> <i class="icon-picture"></th>
        <th>List Name</th>
        <th>About List</th>
        <th>Status</th>
    </tr>
    {% for list in object_list  %}
    <tr>
        <td> <a href="/list/{{ list.pk }}">
            {% if list.image %}
            {% thumbnail list.image "50x30"  as im %}
            <img src="{{ im.url }}">
            {% endif %}</a>
        </td>
        <td> <a href="/list/{{ list.pk }}">{{ list.title }}</a></td>
        <td>
            {{ list.description }}
        </td>
        <td>
            {% if list.is_restricted %}
                <label class="label label-info">
                    Private
                </label>
            {% else%}
            <label class="label label-info">
                Open
            </label>
            {% endif%}
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
{%endblock%}
