.main {
  margin-top: 80px; }

.mainflow {
  margin-top: 44px;
  min-height: 500px;
  background: #ffffff;
  margin-top: 60px; }

.lowernav {
  float: none; }

.lowernav li {
  display: inline; }

.lowernav h4 {
  display: inline; }

.small {
  font-size: 10px; }

.c7_navbar {
  height: 50px; }

input[type='text'] {
  height: 32px; }

.right_bar_entites {
  margin-top: 10px;
  margin-bottom: 20px; }

.textarea_small {
  height: 40px; }

.search-query {
  margin-top: 4px; }

.hide {
  display: none; }

.comment-button {
  position: relative;
  top: -10px; }

.menuplus {
  position: relative;
  left: -6%; }

.float_center {
  padding-left: 20px; }

.float_right {
  text-align: right;
  float: right; }

.story {
  color: #555555;
  border-left: 5px solid #eeeeee;
  margin: 0 0 20px 10px;
  padding: 10px 0 0 15px;
  border: #f9f9f9 solid; }

.comment_btn {
  background-color: #cccccc;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 2px 6px;
  text-align: center; }

#threadform #id_title {
  width: 300px;
  height: 30px;
  margin-left: 4px; }

#threadform #id_body {
  width: 300px;
  height: 200px; }

textarea {
  height: 30px;
  width: 80%;
  border: 1px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  font-size: 10px; }

textarea #id_description {
  height: 100%;
  width: 260px; }

#eventform textarea, #eventtableform textarea {
  width: 300px;
  height: 160px; }

#threadform textarea, #messageform textarea {
  width: 500px;
  height: 300px; }

#threadform .post_submit {
  margin-left: 280px; }

#eventtableform input[type=text], #eventtableform input[type=image], #eventtableform select {
  width: 260px;
  height: 30px;
  margin-left: 4px; }

.eventformsubmit {
  margin-left: 80%; }

li {
  list-style-type: none; }

submit {
  float: right; }

.mugshot_small {
  float: left;
  margin-right: 10px;
  height: 20px;
  width: 20px; }

.mugshot {
  float: left;
  margin-right: 10px;
  height: 30px;
  width: 30px; }

.mugshot_large {
  float: left;
  width: 100px;
  height: 100px;
  margin: 2px 10px 2px 2px; }

.mugshot_list {
  margin-right: 10px;
  width: 60px;
  height: 60px; }

.comment_body {
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px; }

.event {
  padding: 10px; }

.sidemessage {
  height: 200px;
  padding: 5px;
  width: 160px; }

.mini {
  font-size: 70%; }

.editform {
  font-size: 11px; }

.postbody {
  margin-left: 27px;
  margin-bottom: 20px;
  padding: 0px;
  padding-left: 10px;
  border-left: solid 3px #effce1; }

.form_bound {
  min-width: 100px; }

.commentfield {
  background: #fdfdfd;
  color: #333333;
  margin-left: 30px;
  padding: 10px 0 0 10px; }

.float_left {
  float: left; }

.commentbody {
  margin-left: 30px;
  font-size: 12px;
  overflow: auto; }

.eventdescription {
  margin: 10px 0 10px 10px;
  padding-right: 30px; }

.rightinline {
  font-size: 15px; }

.titlefield input[type=text] {
  width: 440px;
  margin-top: 5px;
  margin-bottom: 5px; }

.addtitle {
  font-size: 10px;
  margin-left: 5px; }

.messagebody {
  margin-left: 40px;
  margin-bottom: 40px;
  font-size: 14px; }

.rightsidebar {
  padding-left: 30px;
  padding-top: 0px; }

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
  margin-top: 60px; }

.add_from_file {
  font-size: 30px;
  cursor: pointer;
  width: 12px;
  height: 12px;
  margin-right: 45px; }

.btn-lift {
  margin-top: -14px; }

#overlay {
  width: 80%;
  padding: 25px;
  background-color: #000b03;
  opacity: 0.95;
  z-index: 10000; }

.overlay_table {
  background-color: #d3d3d3; }

.small_icon_td {
  width: 70px; }
