{% extends 'base.html' %}
{% load i18n %}
{% load thumbnail %}
{% block content %}

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand">
                <a href="{% url list_groups %}" class="menu_word"> {% trans "Groups" %} </a> / {{ group_object.title }}
            </div>
            <div class="pull-right">
            {% if can_request_membership %}
                <a href="{% url create_group %}" id="{{group_object.pk}}" name="{{user_id}}" class="btn btn-primary add_me">
                {% if group_object.is_restricted %}
                        {% trans "Ask to Join Group" %}
                    {% else %}
                        {% trans "Join Group" %}
                    {% endif%}
                <i class="icon-edit"></i> </a>
            {% else %}
            {% endif%}
            </div>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered">
    <tbody>
    <tr>
        <td width="100px" > <a href="/list/{{ list.pk }}">
            {% if group_object.mugshot %}
            {% thumbnail group_object.mugshot "200x200"  as im %}
            <img src="{{ im.url }}">
            {% endif %}</a>
        </td>
        <td>
            <h4><a href="/group/{{ group.pk }}">{{ group_object.title }}</a><br/></h4>
            - {{ group_object.description }}
        </td>

        <td width="120px">

            {% if group_object.is_restricted %}
                {% trans "Secret group" %}
            {% else %}
                {% trans "Open group" %}
            {% endif%}
            <br/>  <br/>
            {% if membership_pending %}
                <span class="label label-important">Your are pending</span>
            {% elif membership_active %}
                <div>

                <div class="label label-info">Your are member</div>
            {% endif %}

        </td>
    </tr>
    </tbody>
</table>
    {% if membership_active %}
    <div class="story">
        New Post
        <form action="" method="post" class="form-horizontal block-form">
            {% csrf_token %}
            <!-- <div class="titlefield"> Title: {{ post_form.title }} </div>-->
            {{ form.body }} <br />
            <!--  {{ post_form.image }}<br /> -->
            <input type="hidden" value="{{user_id}}" name="author"/>
            <input type="hidden" value="{{group_object.pk}}" name="group"/>
            <input type="hidden" value="0" name="is_public"/>
            <span class="label label-important">{{ body.errors }}</span><br />
            <input type="submit" id="new_post" class="btn" value="post" />
            <!--   <a href="" class="addtitle">Add title</a>-->
        </form>
    </div>
    {{t}}

    {% for post in group_post %}
        <div class="story">
            <img class="mugshot" src="{{ post.author.get_mugshot_url }}" alt="{% trans "Your mugshot" %}"/>
                <a href="{% url show_post post.pk %}">{% if post.title %} {{ post.title|escape }} {% else %} >> {% endif %}</a>
                <span class="small">
                {% if post.author %}
                    {{ post.date_created }}
                    {% trans "Posted by" %}:<a href="{% url my_page post.author.user %}"> {{ post.author }}</a>
                {% endif %}
                </span>
            <div>
                {% if post.body %}
                    {{ post.body|escape }}
                {% else %}
            {% endif %}
            </div>
        </div>
    <ul class="commentfield">
            {% include "publication/comment.html" %}
        </ul>
    {% endfor %}


    {% else %}
        <span class="label label-info">You are not a member of this group.</span>
    {% endif %}

{%endblock%}
{% block rightsidebartop %}
{% if membership_active %}

<div class="navbar-inner">
    <div class="container">
            <h4 class="rightinline black">{{ group_object.title }}</h4>

    </div>
</div>
<div class="right_bar_entites">
    {% if group_object.is_restricted %}
    Pending Members <br/>
    <ul>
        {% for p in pending %}
        <li id="pending_{{ p.pk }}">
            <a href="{% url my_page p.member.user %}">{{ p.member.user }}</a></strong>
            <span class="hidden" id="group_id">{{ p.pk }}</span>
            <button id="{{ p.member.id }}" name="{{p.group.pk}}"  class="btn btn-small btn-primary add_member"> Add </button>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    Group Members <br/>
    <ul>
        {% for member in members %}
        <li>
            <a href="{% url my_page member.member.user %}">{{ member.member.user }}</a></strong>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<script src="{{ STATIC_URL }}js/group.js"></script>

{% endblock %}
